@media (max-width: 917px) {
    nav {
        justify-content: space-around;

        .nav-links-container {
            display: none;
        }
    
        .sign-in {
            display: none;
        }
    
        .try-for-free {
            display: none;
        }

        .dropdown-item-container {
            display: none;
        }

        //hamburger
        .hamburger-menu {
            display: block;
            margin: 0 2rem 0 2rem;
        }

        .ham-link-container {
            display: none;
            transition: ease-in-out 1s all;
        }


        .ham-nav-links ul{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: absolute;
            width: 100%;
            top: 100%;
            left: -2%;
            margin-top: 0;
            // right: 5%;
            height: 70vh;
            // margin-top: 7rem;
            text-align: left;
            background-color: $black;
            padding-top: 2.5rem;
            padding-bottom: 11rem;
        }

        .ham-nav-links ul li {
            margin-bottom: 3rem;
            // margin-top: 3rem;
        }

        .ham-nav-links ul li:nth-child(5), .ham-nav-links ul li:nth-child(6) {
            border: white solid .01rem;
            text-align: center;
            padding: 2rem 2.5rem;
            margin-right: 3.5rem;
        }

        .ham-nav-links ul li:nth-child(6) {
            background-image: linear-gradient(to right, $pink, $orange);
            outline: none;
            border: none;
            margin-top: -2rem;
        }

       .dropdown-icon {
           transform: rotate(180deg);
       }

    }

    .dropdown-nav-item {
        display: none;
    }

    // showcase
    .dim-effect {
        .showcase .header-container {
            flex-direction: column;
            padding: 1rem 1rem !important;

        }

        .header-article-container {
            width: 100%;
            
        }

        .header-title {
            font-size: 2rem;
        }

        .header-buttons {
            flex-direction: column;
            width: 100%;
            margin-top:-1rem;
        }

        .header-buttons button {
           width: 90% !important;
           padding: 1.5rem 1rem !important;
           font-size: .9rem !important;
           margin-bottom: -.5rem !important;
        }

        .header-image {
            width: 100%;
        }

        .header-image img {
            margin-top: 5rem;
        }
    }

    // trending-technogies
    .trending-tech {
        flex-direction: column-reverse;
        padding-top: 0 !important;
        

        .trending-tech-boxes-container {
            width: 90vw !important;
            justify-content: center;
            align-items: center;
        }

        .trending-tech-box {
            margin: 2rem 5% 0 !important;
            
        }

        .trending {
            width: 90% !important;
            margin-bottom: 2rem !important;
        }

        .top {
            flex-direction: column;
            margin-bottom: -2rem !important;
        }

        .bottom {
            flex-direction: column;
        }

        .trending > img {
            top: -9% !important;
            right: -4% !important;
            width: 20% !important;

        }

        .trending-description-container {
            width: 90vw !important;
            padding-right: 1.5rem;
        }

        .trending-description-container h3 {
            width:  100% !important;
        }
    }

        //discover
        .discover-container {
        padding: 1rem !important;

            .discover-items-container {
                flex-direction: column;
                justify-content: center;
            }
    
            .discover-item {
                width: 100%;
            }
    }  

    //platform 
    .skill-platform-container {
        flex-direction: column !important;
        
    }

    .skill-platform-container img {
        width: 100vw !important;
    }
    
    .platform-description {
        width: 83.3% !important;
        padding: 1rem 0 !important;
        padding-left: 1rem !important;
        padding-bottom: 3rem !important;
        // height: 80vh !important;

        // padding-right: .5rem !important;
    
    }

    .platform-description img {
        width: 20% !important;
    }

    //share your skills
    .slide-container {
        flex-direction: column;
        text-align: center !important;
    }

    .slide {
        width: 80% !important;
        margin: 1rem 1rem;
    }

    //evolution
    .evolution-container h3 {
        width: 100% !important;
    }
    
    .evolution-container p {
        width: 100% !important;
    }

    //stay home 
    .stay-home-container {
        flex-direction: column;
    }

    //footer
    .footer-top {
        display: none !important;
    }

    .footer-bottom {
        flex-direction: column-reverse;
    }

    .footer-logo-container {
        // flex-direction: column-reverse;
        width: 100%;
    }

    .footer-logo-container img {
        width: 30% !important;
    }

    .social-media-container {
        flex-direction: column-reverse;
        width: 100% !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
        margin-left: 0 !important;
        
    }

    .text-footer-media {
        align-items: center !important;
        justify-content: center !important;
    }

    .social-media-icon-container {
        justify-content: center !important;
        align-items: center !important;
        padding-bottom: 1rem !important;
    }
}


//specific for 768px screen
@media (min-width: 500px) and (max-width: 1000px) {
    .platform-description {
        padding-bottom: 4rem !important;
        width: 91.3% !important;

        // height: 70vh !important;
    }
}




   