@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Martel+Sans:wght@900&display=swap');
@import 'config';
@import 'utilities';
@import 'nav';
@import 'dropdown';
@import 'mediaquery-mobile';
@import 'media-1024';


.dim-effect {
    background-color:lighten($color: $black, $amount: 12%);
    margin-top: 4.5rem;
    z-index: -1;
    padding-bottom: 6rem;



    // .showcase {
    // }

    .showcase .header-container{
        display: flex;
        padding: 6rem 1.5rem;
        padding-top: 4rem;
        justify-content: space-between;
    }

    .header-article-container {
        width: 30%;
        
    }

    .header-title {
        font-size: 3em;
        font-family: 'Black Han Sans', sans-serif;
    }

    .header-article {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-top: -.7rem;
    }

    .header-buttons {
        display: flex;
        width: 100%;
        justify-content: left;
    }

    .header-buttons button {
        background: none;
        border: solid 1.5px white;
        outline: none;
        padding: 1.5rem 4rem;
        color: white;
        font-size: 1rem;
        font-weight: 600;
        width: 35%;
        margin-right: 1rem;
        margin-top: 2rem;
        cursor: pointer;
    }

    // .header-buttons button:hover {
    //     border: solid 2.5px white;
    //     margin-bottom: 2rem;

    // }

    #view {
        background: linear-gradient(to right, $pink 20%, $orange);
        border: none;
    }

    // #view:hover {
    //     background: linear-gradient(to right, $orange 20%, $pink);
    // }

    

    .header-image img {
        width: 100%;
    }
}

// trending technologies
.trending-tech {
    display: flex;
    justify-content: space-between;
    padding: 6rem 0;
    background-color: $black;

    .trending-tech-boxes-container {
        width: 60vw;
        // display: flex;
        justify-content: space-around;
    }

    .top {
        display: flex;
        justify-content:left;
    }

    .bottom {
        display: flex;
        justify-content: left;
    }

    .trending-tech-box {
        margin: 2rem 2rem 1rem;
    }


    .trending {
        background-color: lighten($color: $black, $amount: 10%);
        margin-right: 2rem;
        padding: 3rem 1.5rem .5rem ;
        width: 40%;
        position: relative;
        transition: .5s ease-in-out all;
        cursor: pointer;
    }

    .trending:hover {
        transform: scale(1.09);
    }

    .trending:nth-child(2) {
        margin-right: 1rem;
    }

    .trending > img {
        position: absolute;
        top: -9.5%;
        right: -7%;
        width: 30%;
    }

    .path {
        font-size: .9rem;
        color: $pink;
        margin-top: -1.5rem;
    }

    .trending-title {
        margin-top: -.5rem;
        font-weight: 550;
    }

    .trending-course {
        margin-top: -.5rem;
        font-weight: 550;
    }

    .trending-course span {
        color: lighten($gray, 50%);
    }

    .trending-link {
        display: flex;
        justify-content: left;
        margin-top: 1rem;
    }

    .trending-link p {
        font-weight: 550;
    }

    .trending-link img {
       margin-left: .6rem;
       height: .7rem;
       width: .7rem;
       margin-top: 1.3rem;
    }
    .trending-description-container {
        width: 40vw;
        padding-right: 1rem;
        margin-left: 1rem;
    }

    .desc-title {
        font-weight: 550;
        font-size: .8rem;
        letter-spacing: .2rem;
        color: $pink;
        margin-top: 4rem;
    }

    .trending-description-container h3 {
        font-family: 'Black Han Sans', sans-serif;
        font-size: 2rem;
        width: 60%;
    }

    .desc-text {
        line-height: 2;
        font-weight: 550;
    }

    .trending-description-container .trending-link {
        margin-top: 2rem;
        transition: ease-in-out .5s all;
        cursor: pointer;
    }

    .trending-description-container .trending-link:hover {
        transform: scale(1.05);
    }
}

//discover 
.discover-container {
    padding-top: 5rem;
    padding-left: 2rem;

    .discover-title {
        font-size: .9rem;
        font-weight: 550;
        color: $pink;
        letter-spacing: .2rem;
    }

    h4 {
        font-family: 'Black Han Sans', sans-serif;
        font-size: 2rem;
        margin-top: 1.5rem;
    }
    
    .discover-items-container {
        display: flex;
        justify-content: space-between;
    }

    .discover-item {
        cursor: pointer;
        width: 100%;
    }

    .discover-item img {
        width: 92%;
        margin-right: 1rem;
        border-radius: 5%;
    }

    .item-title {
        font-size: .9rem;
        color: orange;
        font-weight: 550;
        letter-spacing: .2rem;
        width: 90%;
    }

    .item-text {
        font-size: 1.1rem;
        font-weight: 500;
        width: 90%;
        line-height: 1.9;
        padding-bottom: 2rem;

    }

    
}

// platform
.skill-platform-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skill-platform-container img {
    width: 60vw;
}

.platform-description {
    background: linear-gradient(to right, $pink, $orange 50%);
    padding: 2rem 2rem;
    padding-bottom: 6rem;
    width: 40vw;
    // height: 60.4vh;
}

.platform-description img {
    width: 30%;
    padding-top: 2rem;
}

.platform-description h3 {
    font-size: 1.8rem;
    font-family: 'Black Han Sans', sans-serif;
}

.platform-description p {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.8;
}

.platform-description button {
    background-color: $black;
    color: white;
    padding: 1rem 3rem;
    border: none;
    outline: none;
    font-size: .9rem;
    font-weight: 550;
}

//share your skill
.share-your-skills-container {
    padding: 5rem 1rem;
    text-align: center;
    background: $black;
    // z-index: 4;
}

.share-your-skills-container > p {
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .2rem;
    color: $pink;
}

.share-your-skills-container h3 {
    font-size: 1.7rem;
    font-family: 'Black Han Sans', sans-serif;

}

.slide-container {
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
    margin-top: 10rem;
}

.slide {
    width: 25%;
    background-color: white;
    padding: 2rem 1rem;
    color: $black;
    text-align: left;
    padding-bottom: 10rem;
    margin-right: 2rem;
    border-radius: 5%;
}

.user-detail-container {
    display: flex;
    justify-content: left;
}

.user-detail-container img {
    width: 10%;
    height: 2.5rem;
}

.name-container {
    margin-left: .5rem;
}

.slide-name {
    margin-top: -.2rem;
    font-weight: 550;
}

.user-name {
    margin-top: -.2rem;
}

.slide-text {
    line-height: 1.5;
    font-weight: 500;
}

.slide-buttons {
    padding-bottom: 2.5rem;
    background: #000;
    outline: none;
    display: flex;
    justify-content: center;
    // margin: -3rem 2rem 0;

}

.slide-buttons button {
    cursor: pointer;
    margin: 0 1rem;
}



// evolution
.evolution-container {
    background: url('/img/Student-working-1200x800.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.evolution-main-container {
    background: linear-gradient(to right, black 40%, lighten($black, 10%));
    opacity: .9;
    padding: 2rem 1rem 5rem;
}

.evolution-container img {
    margin-left: -2rem;
}

.evolution-container h3 {
    font-size: 3rem;
    font-family: 'Black Han Sans', sans-serif;
    width: 50%;
    margin-top: -1rem;
}

.evolution-container p {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    width: 50%;
    margin-top: -1rem;
}

.evolution-buttons  .non-profit, .evolution-buttons  .impact-book{
    padding: 1rem 2rem;
    background: none;
    border: solid white 1px;
    color: white;
    margin-bottom: 1rem;   
}

.evolution-buttons .impact-book {
    background: linear-gradient(to right, $pink, $orange);
    border: none;
}


//stay home
.stay-home-container {
    padding: 5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: lighten($color: $black, $amount: 5%);
    // color: $light-gray;
}

.stay-home-container h3 {
    font-size: 2rem;
    font-family: 'Black Han Sans', sans-serif;

}

.stay-home-container button {
    padding: 1.3rem 5rem;
    background: linear-gradient(to right, $pink, $orange);
    border: none;
    color: white;
    font-weight: 550;
}

//footer
footer {
    // padding: 4rem 4rem;

    .footer-top {
        display: flex;
        justify-content: space-around;
        align-items: center;
        // height: 50vh;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 3rem;
        padding-bottom: 2rem;
    }

    .footer-top-item-container p {
        margin-top: 3rem;
        margin-bottom: 2.5rem;
        font-size: 0.9rem;
        font-weight: 550;
    }

    .footer-top-item-container ul li {
        margin-left: -2.5rem;
        font-size: .9rem;
    }

    .footer-top-item-container ul li a {
        color: lighten($color: gray, $amount: 10%);
        font-weight: 550;
        line-height: 2;
        letter-spacing: .01rem;
    }

    .footer-top-item-container ul li a:hover {
        color: $white;
    }

    
    .footer-bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 3rem;
    }

    .footer-logo-container {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 3rem 4rem;
        width: 40%;
    }

    .footer-logo-container img{
        width: 5%;
        margin-right: 1rem;
    }

    .footer-logo-container span {
        color: lighten($color: gray, $amount: 10%);
        font-weight: 550;
        letter-spacing: .01rem;
        font-size: .9rem;
    }

    .social-media-container {
        display: flex;
        justify-content: space-around;
        width: 60%;
        margin-left: -5rem;
    }

    .text-footer-media {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .social-media-container div {
        // margin: 0 3rem;
        width: 100%;
    }

    .terms-condition, .privacy-policy {
        color: lighten($color: gray, $amount: 40%);
        font-weight: 550;
        letter-spacing: .01rem;
        font-size: .9rem;
    }

    .terms-condition {
    }

    .social-media-icon-container {
        display: flex;
        justify-content: left;
        // padding-right: 3rem;
        // width: 5%;
    }
    

    .social-media-icon-container img {
        width: 5%;
        padding: 0 .5rem;
    }
}




/* animation */

.animation {
    animation-name: animate;
    animation-duration: 3s;
}

@keyframes animate {
    from{opacity: 0.1;}
    to{opacity: 1;}
}